* {
    box-sizing: border-box;
}

:root {
    --row-size1: 40px;
    --row-size2: 25px;
    --rowgap1: 10px;
    --rowgap2: 5px;
    --key-column1: 10% 30% 25%;
    --key-column2: ; 
    --keynum-column1: 10% 13% 3% 13% 25%;
    --keynum-column2:
    --label-size1:
    --label-size2:
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10px 20px 0 40px;
    align-self: center;
}

hr {padding: 0;}

.blue {
    color: #4285F4;
}

.red {
    color: #EA4335;
}

.yellow {
    color: #FBBC05;
}

.green {
    color: #34A853;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 7px;
    font-weight: normal;
    font-size: 1.2rem;
}

.navlink {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

a {text-decoration: none;}

.navlink a {
    color: #333333;
    font-size: 1.1rem;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 5px;
    margin-left: -65px;
    font-size: 1.7rem;
}

h2, h3 {
    font-weight: normal;
}

h2 {
    color: #DF4F45;
}

hr {
    border: 0.1px solid #F0F0F0;
}

label {
    color: #333333;
}

span {
    color: #777777;
}

.key {
    display: grid;
    grid-template-columns: var(--key-column1);
    grid-auto-rows: var(--row-size1);
    grid-column-gap: var(--rowgap1);
    margin-top: 10px;
}

.keynum {
    display: grid;
    grid-template-columns: var(--keynum-column1);
    grid-auto-rows: var(--row-size1);
    grid-column-gap: var(--rowgap1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.key label, .keynum label {
    grid-column: 1;
    font-size: medium;
}

.key input, .key select, #number {
    grid-column: 2;
    font-family: 'Lato', sans-serif;
    padding-left: 2px;
    padding-right: 2px;
}

.key select {
    background-color: #F3F3F3;
    font-weight: bold;
}

.keynum label[for="tonum"] {
    grid-column: 3;
    text-align: center;
    align-self: center;
}

.keynum #tonum {
    grid-column: 4;
}

.keynum .details {
    grid-column: 5;
    font-size: 0.8rem;
}

.key span {
    grid-column: 3;
    font-size: 0.8rem;
    align-self: center;
}

.key input[type="submit"] {
   width: 25%;
   justify-self: end;
   background-color: #4C8EFA;
   color: white;
   border: 1px solid #3079ED;
   border-radius: 2px;
   font-weight: bold;
}


.key input[type="submit"]:hover {
    background-color: #3079ED;
 }

.example {
    font-family: 'Raleway', sans-serif;

}

.title {
    display: grid;
    grid-template-columns: 40% 25%;
    grid-auto-rows: 30px;
}

.title span {
    grid-column: 2;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 1499px) {
    .key, .keynum {
        grid-auto-rows: var(--row-size2);
        grid-column-gap: var(--rowgap2);
    }
    .key span, .keynum span, .title span {
        display: none;
    }
    .key {
        display: flex;
        flex-direction: column;
    }

    .keynum {
        display: flex;
        flex-direction: column;
    }

    .keynum label[for="tonum"] {
        align-self: flex-start;
    }

    .key label, .keynum label {
        font-size: small;
    }
    .navlink {
        font-size: medium;
    }

}