* {
    box-sizing: border-box;
}

body {
    font-family: Lato, serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container input[type="text"] {
    border-radius: 15px;
    width: 50%;
    height: 40px;
    border: 1px solid #DFE1E5;
    font-size: 1.5rem;
    padding-left: 10px;
}

.container input[type="text"]:hover {
    box-shadow: 0px 0px 20px #DFE1E5;
}

.container input[type="text"]:focus {
    border: 2px solid #DFE1E5;
}

.container h1 {
    max-height: 100%;
    max-width: 100%;
    font-size: 5rem;
    margin: 0 auto 20px auto;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitbtn {
    width: 15%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

input[type="submit"] {
    margin: 10px auto;
    border: 1px solid #DFE1E5;
    border-radius: 6px;
    padding: 8px 15px;
    font-weight: 300;
}

.nav-bar ul li{
    list-style-type: none;
    margin: 7px;
    font-weight: normal;
    font-size: 1.2rem;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.blue {
    color: #4285F4;
}

.red {
    color: #EA4335;
}

.yellow {
    color: #FBBC05;
}

.green {
    color: #34A853;
}

a {
    text-decoration: none;
    color: #212121;
    font-size: 0.8rem;
}

.banner{
    display: flex;
    justify-content: center;
}
